<div class="flex flex-wrap">
  <p class="basis-full text-lg mb-4">
    <%= inbox.name %>
  </p>
  <ul class="basis-full mb-2">
    <li>
      Unread messages: <%= inbox.messages.unread.size %>
    </li>
    <li>
      Total messages: <%= inbox.messages.size %>
    </li>
  </ul>
  <%= link_to "View", [:turbo_actions, inbox], class: "text-sky-600 hover:underline" %>
</div>
