
<p class="mb-4">
  <%= link_to sanitize("&larr; Back to inboxes"), [:turbo_actions, :inboxes], class: "text-sky-600 hover:underline" %>
</p>

<%= render "summary", inbox: @inbox %>

<div class="flex flex-wrap">
  <% @inbox.messages.ordered.each do |message| %>
    <div class="basis-full border-2 rounded-sm mb-4 p-4">
      <%= render message %>
    </div>
  <% end %>
</div>
